.photo-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    width: auto;
    overflow-y:auto !important;
    padding: 20px;
    height: calc(100vh - 20px);
}

.photo-details img {
    height: auto;
    width: auto;
    margin: 1rem auto;
}

.photo-details h2 {
    margin: 12px 0;
}

.photo-details p {
    margin: 4px 0;
}