html, body {
  height: 100%;
  margin: 0;
  overflow-y: hidden;
  overflow-x: auto;
}

img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 24px;
}


.photo {
    display: flex;
    border: 1px solid #eee;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.03);
}

.gallery {
    /* display: grid;
    flex-direction: column;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    gap: 5px;
    margin-top: 24px;
    overflow-y: hidden; */

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    height: 100vh; /* or 80vh, as needed */
    overflow: auto;
}

.photo-item{
    font-size: 14px;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    padding: 10px;
}

.photo-url:hover{
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
}